* {
    transition: 1s;

}
body {
background-image: url(img/background.jpg);
}
.house {
   width: 1200px;
   height: 1600px; 
   
   margin:auto;
   
}
.panel {
    height: 100px;
    width: 100%;
    background-color: rgb(172, 156, 115);
    
}
.top {
    height: 28.125%; /* 450px */
}
.pic1-left {
   float:left;
   width: 37.5%;
   height: 100%;
   margin-left: 10px;
   margin-top: 10px;
   background-image: url(img/zazu1.png);
   float:left;
}
.text1-right {
    width: 60%;
    height: 100%;
    float:right;
    background-color: lightcoral;
    margin-right: 10px;
    margin-top: 10px;
    border-radius: 10px;
    text-align: center;
    color:black;
    font-size: 22px;
    font-family: 'Courier New', Courier, monospace;
    opacity: 0.9;
}

.space1 {
    width: 100%;
    height: 595px;
    margin-top: 20px;
}

/* 
.line-left1 {
    width: 200px;
    background-color: rgb(253, 0, 0);
    height: 200px;
    float: left;
    margin-left: 50px;
    margin-top: 50px;
    border-radius:10px;
}
.line-left2 {
    width: 200px;
    background-color: rgb(253, 0, 0);
    height: 200px;
    float: right;
    margin-right: 50px;
    margin-top: 50px;
    border-radius:10px;
}
.line-left3 {
    width: 495px;
    background-color: rgb(253, 0, 0);
    height: 200px;
    float: left;
    margin-left: 50px;
    margin-top: 70px;
    border-radius:10px;
}   */

.left-cube {
    width: 590px;
    background-color: rgb(211, 147, 147);
    height: 595px;
    float: left;
    background-image: url(img/flower_01.jpg);
    background-position: center;
    background-size: cover;
}
.right-cube {
    width: 295px;
    background-color: rgb(211, 147, 147);
    height: 595px;
    float: left;
    margin-left: 5px;
    background-image: url(img/flower_02.jpg);
    background-size: cover;
    background-position: center;
}

.right-cube1 {
    width: 148px;
    background-color: rgb(211, 147, 147);
    height: 595px;
    float: left;
    margin-left: 5px;
    background-image: url(img/flower_03.jpg);
    background-size: cover;
    background-position: center;
}
.right-cube2 {
    width: 74px;
    background-color: rgb(211, 147, 147);
    height: 595px;
    float: left;
    margin-left: 5px;
    background-image: url(img/flower_04.jpg);
    background-size: cover;
    background-position: center;

}
.right-cube3 {
    width: 73px;
    background-color: rgb(211, 147, 147);
    height: 595px;
    float: left;
    margin-left: 5px;
    background-image: url(img/flower_05.jpg);
    background-size: cover;
    background-position: center; 
}
.image  {
    max-width: 100%;
}

.line-right {
    width: 595px;
    background-color: rgb(211, 147, 147);
    height: 595px;
    float:right;
    border-radius:10px;
}


@media (max-width: 979px) {
    .house {
        width: 970px;
        height: 1600px; 
        
        margin:auto;
        
     }
     .pic1-left {
        float:left;
        width: 100%;
        height: 50%;
        margin-left: 10px;
        margin-top: 10px;
        float:left;
        background-image: url(img/zazu1.png);
     }
     .text1-right {
         width: 40%;
         height: 80%;
         float:right;
         background-color: lightcoral;
         margin-right: 10px;
         margin-top: 10px;
         border-radius: 10px;
         text-align: center;
         color:black;
         font-size: 22px;
         font-family: 'Courier New', Courier, monospace;
         opacity: 0.9;
     }
     .panel {
         height: 100px;
         width: 100%;
         background-color: rgb(172, 156, 115);
         
     }
     .top {
         height: 28.125%; /* 450px */
     }
     .pic1-left {
        float:left;
        width: 37.5%;
        height: 100%;
       
        margin-left: 10px;
        margin-top: 10px;
        
        float:left;
     }
     .text1-right {
         width: 60%;
         height: 100%;
         float:right;
         background-color: lightcoral;
         margin-right: 10px;
         margin-top: 10px;
         border-radius: 10px;
         text-align: center;
         color:black;
         font-size: 22px;
         font-family: 'Courier New', Courier, monospace;
         opacity: 0.9;
     }
     
     .space1 {
         width: 100%;
         height: 595px;
         margin-top: 20px;
     }
   
     .left-cube {
         width: 393.33333333px;
         background-color: rgb(211, 147, 147);
         height: 100%;
         float: none;
         
     }
     .right-cube {
        width: 196.6666666px;
        background-color: rgb(211, 147, 147);
        height: 100%;
        float: none;
        margin-top: -595px;
        margin-left: 403.3333px;
     }
      .right-cube1 {
        width: 98.666666px;
        background-color: rgb(211, 147, 147);
        height: 100%;
        float: none;
        background-image: url(img/flower_03.jpg);
        margin-top: -595px;
        margin-left: 607.9999px;
     }
    .right-cube2 {
        width: 49.333333333333px;
        background-color: rgb(211, 147, 147);
        height: 100%;
        float: none;
        margin-top: -595px;
        margin-left: 714px;
     }
      .right-cube3 {
         width: 48.6666666px;
         background-color: rgb(211, 147, 147);
         height: 100%;
         float: left;
         margin-left: 3px;   
         margin-top: -595px;
         margin-left: 770.99965px; 
     } 
    }
 

